@import '../../theme';
@import '../../functions';

.card {
  background-color: var(--cardBackground);
  color: var(--cardColor);

  width: 200px;
  height: auto;
  border: 1px solid black;
  margin: 12px;
  padding: 24px;
  font-family: $default-font;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  h1 {
    margin-top: 0;
  }
}

button {
  background-color: var(--buttonBackground);
  color: var(--buttonColor);
  font-family: $default-font;
  padding: 12px;
}