@import '../../theme';
@import '../../functions';

.footer {
  background-color: var(--footerBackground);
  color: var(--footerColor);
  font-family: $default-font;
  text-align: var(--footerAlignment);
  padding: 36px;
  margin-top: 24px;
  height: 150px;
  position: relative;
  bottom: 0;
}