.theme {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f4f4f4;
  padding: 24px;
  text-align: right;
  font-family: 'Open Sans', serif;
  font-weight: 300;
}